.env
node_modules/**/*
backend/rust/target/**/*
uploads/**/*
.venv/
__pycache__/
backend/rust/src/bin/
rust-project.json
pyrightconfig.json
target/
.zed/
.ropeproject/
Dockerfile-old
uploads/
*.pt
frontend/app/api/
test_images/
test_masks/
files.rtf
stable-diffusion-xl-inpainting-1.0/
zendoai.db
controlnet-canny-sdxl-1.0/
UltraSharp/
training_images/

backend/models/blip-model/
backend/models/blip-processor/
backend/models/blip2/
backend/models/clip/
backend/models/IP-Adapter-FaceID/
backend/models/IP-AdapterPlus/
backend/models/IP-Adapter-FaceID/
backend/models/openclip/
backend/models/Real-ESRGAN/
backend/models/SAM/
backend/models/sam_model/
backend/models/sam_processor/
backend/models/sdxl-*/
backend/models/stable-diffusion-x4-upscaler/
backend/models/user/*
!backend/models/user/textual_inversions
!backend/models/*.py
!.gitattributes
backend/cuda/*.safetensors
.aider*
.env.local
tools/onnx_export/**/*
tools/onnx_export/.venv-sdxl/**/*
tools/onnx_export/.venv-sdxl/bin/**/*
*.safetensors
validation/
user/