.env
node_modules/**/*
backend/rust/target/**/*
uploads/**/*
.venv/
__pycache__/
backend/rust/src/bin/
rust-project.json
pyrightconfig.json
target/
.zed/
.ropeproject/
Dockerfile-old
uploads/
*.pt
frontend/app/api/
backend/models/openclip/**/*
backend/models/sdxl-base-1.0*/
!backend/models/openclip/*.{py,json}
!.gitattributes
*.safetensors
sdxl-refiner-1.0/
sdxl-base-1.0/
SAM/
test_images/
test_masks/
files.rtf
backend/diffusers/
