[submodule "backend/python/diffusers"]
	path = backend/python/diffusers
	url = https://github.com/dale8nson/diffusers.git
[submodule "backend/python/Real-ESRGAN"]
	path = backend/python/Real-ESRGAN
	url = https://github.com/xinntao/Real-ESRGAN.git
[submodule "backend/python/basicsr"]
	path = backend/python/basicsr
	url = https://github.com/XPixelGroup/BasicSR.git
